/*FOR ALL*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*FOR LANDING PAGE*/

div.landingButtons {
    position: relative;
    height: 100px;
    width: 100%;
    text-align: right;
    background-image: linear-gradient(180deg, rgba(37, 41, 38, 0.38) 0 30%, rgba(51, 56, 52, 0.25) 70%, rgba(0, 0, 0, 0));
    mix-blend-mode: hard-light;
}
.buttonMiddle {
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    top: 30%;
    left: 50%;
    width: 90%;
    transform: translateY(-50%);
    transform: translateX(-50%);
}
button.landingButtons {
    padding: 15px;
    background: rgb(43, 43, 44);
    border: none;
    font-weight: bold;
    color: rgb(99, 196, 61);
    border-radius: 10px;
    margin-right: 10px;
    width: 150px;
    outline-style: solid;
    outline-color: rgba(99, 196, 61);
    outline-width: 1px;
    outline-offset: -2px;
    transition-timing-function: ease-out;
    transition-duration: 0.21s;
}
button.landingButtons:hover {
    padding: 17px;
    background: rgb(99, 196, 61);
    color: rgb(43, 43, 44);
    outline-color: rgba(99, 196, 61);
    outline-width: 1px;
    outline-offset: 2px;
    transition-timing-function: ease-in;
    transition-duration: 0.21s;
    font-size: 15px;
    margin-top: -1%;
    margin-bottom: -10%;
}
div.landingBG {
    background: url("../images/pexels-nancy-bourque-1209978.jpg");
    background-size: cover;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -99;
}
div.landingG1 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.70) 0 40%, rgba(255, 255, 255, 0) 90%);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -90;
}
div.landingBody {
    background-color: rgba(226, 225, 209, 0.15);
    position: relative;
    top: 50px;
    left: 50px;
    width: 580px;
    height: 370px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.555);
}
div.landingBody {
    padding: 50px;
}
p.landingBody {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.80);
    text-indent: 50px;
    text-align: justify;
    border-top: 1px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px;
    border-style: solid;
    padding-top: 20px;
    padding-bottom: 20px;
}
h1.landingBody{
    font-weight: bold;
    color: rgba(255, 255, 255, 0.60);
    letter-spacing: 20px;
}
.blurrImg {
    background: url("../images/pexels-nancy-bourque-1209978.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 130%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    z-index: -91;
}

/*FOR REGISTRATION*/

.regPage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.regPageBG {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(11, 37, 17, 0.829);
    z-index: -96;
    mix-blend-mode: normal;
}
div.regPageBGIMG {
    background: url("../images/pexels-kelly-2453551.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -99;
}
div.form {
    position: relative;
    left: 3%;
    top: 5%;
    width: 590px;
    height: 600px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.336);
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.479);
}
div.registerButtons {
    position: relative;
    top: 30%;
    text-align: right;
    transform: translateY(-50%);
    vertical-align: top;
    padding: 0px 15px;
}
button.registerButtons {
    padding: 15px;
    background: rgb(43, 43, 44);
    border: none;
    font-weight: bold;
    color: rgb(99, 196, 61);
    border-radius: 10px;
    margin-right: 10px;
    width: 150px;
    outline-style: solid;
    outline-color: rgba(99, 196, 61);
    outline-width: 1px;
    outline-offset: -2px;
    transition-timing-function: ease-out;
    transition-duration: 0.21s;
}
button.registerButtons:hover {
    padding: 17px;
    background: rgb(99, 196, 61);
    color: rgb(43, 43, 44);
    outline-color: rgba(99, 196, 61);
    outline-width: 1px;
    outline-offset: 2px;
    transition-timing-function: ease-in;
    transition-duration: 0.21s;
    font-size: 15px;
    margin-top: -5%;
    margin-bottom: -5%;
}
div.textboxArea {
    position: relative;
    top: 15%;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}
input.textbox {
    position: relative;
    width: 85%;
    padding: 10px 10px;
    margin: 10px 0px;
    border-radius: 15px;
    border-style: none;
    font-size: 18px;
    background-color: rgb(228, 225, 219);
}

/*FOR LOGIN*/

.logPage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.logPageBG {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(55, 59, 56);
    z-index: -99;
}
div.loginButtons {
    position: relative;
    top: 45%;
    text-align: right;
    transform: translateY(-50%);
    vertical-align: top;
    padding: 0px 15px;
}
button.loginButtons {
    padding: 15px;
    background: rgb(43, 43, 44);
    border: none;
    font-weight: bold;
    color: rgb(99, 196, 61);
    border-radius: 10px;
    margin-right: 10px;
    width: 150px;
    outline-style: solid;
    outline-color: rgba(99, 196, 61);
    outline-width: 1px;
    outline-offset: -2px;
    transition-timing-function: ease-out;
    transition-duration: 0.21s;
}
button.loginButtons:hover {
    padding: 17px;
    background: rgb(99, 196, 61);
    color: rgb(43, 43, 44);
    outline-color: rgba(99, 196, 61);
    outline-width: 1px;
    outline-offset: 2px;
    transition-timing-function: ease-in;
    transition-duration: 0.21s;
    font-size: 15px;
    margin-top: -5%;
    margin-bottom: -5%;
}
div.loginTextboxArea {
    position: relative;
    top: 25%;
    left: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}